{% extends 'base.html.twig' %}

{% block title %}Hello DatabaseTestController!{% endblock %}

{% block body %}

    <div>
        {{ "user.login"|trans }}
    </div>
    <div>
        {{ "user.register"|trans }}
    </div>
    <div>
        {{ locale }}
    </div>


{% endblock %}
